@import '../../scss/variables';

.login-main {
  position: relative;
  width: 100%;
  height: 100%;

  .login-mask {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    background-image: url('./images/login-bg.jpg');
    background-size: cover;

    .background-mask {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: 1;

      background-color: $grass-light;
      opacity: .7;
    }
  }
}
